<mat-progress-bar mode="query" *ngIf="loaderService.isLoading | async"></mat-progress-bar>
<div class="pagetitle">
  <h1>Customers</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/customers">Customers</a></li>
      <li class="breadcrumb-item active">Top Customers</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<div class="main-content">
  <div class="section-content section-content-p30">
<div class="container-fluid">
  <div class="alert alert-light">
    <h3  style="font-family: 'Yu Gothic'; color: gold">List of our top customers <mat-icon>star</mat-icon></h3>
  </div>

  <div class="row">
    <!--Loop over the collection of products -->
    <div class="col-md-3" *ngFor="let c of customers" >
      <mat-card class="example-card">
        <mat-card-header>
          <div class="badge">{{c.totalMoneySpent |currency:'USD'}}</div>
        </mat-card-header>

        <mat-card-content>
          <mat-card-title>{{c.designation}}</mat-card-title>
          <hr>
          <div class="product-bottom-details">
            <div class="product-price">
              <b>{{c.email}}</b>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
</div>
</div>
  </div>
</div>
